@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-image: url('../../public/images/fondo2.jpg'); */
    font-family: 'Poppins', sans-serif;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    color: #4a4a4a;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9); 
}
.form-group input[type="checkbox"] {
    margin-right: 10px;
}
.form-group span {
    color: #ff0000;
    font-size: 14px;
}
.submit-button {
    background-color: #0D2027;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #138AF2;
}
/* 
.bg-custom {
    background-color: #F4F8FB; 
} */
/* Modo claro (ya definido) */
.bg-custom {
    background-color: rgba(244, 248, 251, 0.9);
}

.bg-custom2 {
    background-color: #72F0B7;
}

.bg-custom4 {
    background-color: rgba(244, 248, 251, 0.9);
}

/* Modo oscuro */
body.dark-mode .bg-custom {
    background-color: #1f1f1f; /* Fondo oscuro */
}

body.dark-mode .bg-custom2 {
    background-color: #2c2c2c; /* Fondo oscuro alternativo */
}

body.dark-mode .bg-custom4 {
    background-color: #1c1c1c; /* Fondo oscuro alternativo */
}

/* Ajustes de botones en modo oscuro */
body.dark-mode .btn-primary {
    background-color: #3c5a73; /* Color oscuro para botones */
    border-color: #2b3d52;
}

body.dark-mode .btn-primary:hover {
    background-color: #4d708c; /* Color oscuro al hacer hover */
    border-color: #3c5a73;
}

/* Ajustes de listas en modo oscuro */
body.dark-mode .list-group-item {
    background-color: #2c2c2c; /* Fondo oscuro para items de lista */
    border-color: #444444;
    color: #ffffff;
}

body.dark-mode .list-group-item:hover {
    background-color: #3a3a3a; /* Fondo oscuro más claro al hacer hover */
    border-color: #555555;
}

/* Panel de listas en modo oscuro */
body.dark-mode .panel-listas {
    background-color: #1f1f1f;
    color: #ffffff;
}

body.dark-mode .panel-listas .list-group-item {
    background-color: #2c2c2c;
}

body.dark-mode .panel-listas .list-group-item:hover {
    background-color: #3a3a3a;
}

/* Iconos en modo oscuro */
body.dark-mode .icon-check {
    color: #9acd32; /* Ajustar color de los íconos */
}

/* Elementos adicionales como los tooltips */
body.dark-mode .tooltip-container .tooltiptext {
    background-color: #333;
    color: #fff;
}

.mochi-logo {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Para asegurarte de que la imagen mantenga sus proporciones */
    transition: transform 0.3s ease-in-out;
}

.mochi-logo:hover {
    transform: scale(1.1); /* Aumentar ligeramente el tamaño cuando pases el cursor */
}



.task-vencida {
    color: red;
}
.hidden {
    display: none;
}

.btn-primary {
    background-color: #0D2340;
    border-color: #003C4C; 
}
.btn-primary:hover{
    
    background-color: #165873;  
    border-color: #003C4C; 

}
.list-group-item {
    /* border: none; */
    border-top: 4px solid #F6F7F7;
    border-bottom: 4px solid #F6F7F7;
    transition: border-color 0.3s ease-in-out; 
}
.list-group-item2 {
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    border-top: 1px solid #ccc;
   
     
}

.list-group-item:hover {
    border-top-color: #9333EA; 
    border-bottom-color: #9333EA;
}

@keyframes animateBorder {
    from {
        border-color: transparent;
    }
    to {
        border-color: #007bff; 
    }
}

/* Estilos base para el panel de listas */
.panel-listas {
    background-color: #ffffff; 
    color: #0000;
    border: none;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
    
}

.panel-listas .card-header {
    /* background-color: #0D2340;  */
    color: #0000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.panel-listas .list-group-item {
    /* background-color: #343a40; */
    /* border-top: 1px solid #ccc; */
    /* color: #ffffff; */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: background-color 0.3s;
    border-top: 2px solid #ccc;
    margin: 4px;
}

.panel-listas .list-group-item:hover {
    background-color: #a3cbea;
    
}

.panel-listas .icon-check {
    color: #72F0B7; 
    margin-right: 10px;
    
}

.panel-listas .task-count {
    background-color: #17A2B8; 
    color: #0000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    font-weight: bold; 
    
}

.panel-listas .btn-primary {
    background-color: #72F0B7; 
    
}
.panel-listas .btn-primary:hover {
    background-color: #6dff9b; 
    
}


.panel-listas-fixed {
    position: fixed; 
    top: 80px; 
    width: 300px; 
    max-height: calc(100vh - 40px); 
    overflow-y: auto; 
    z-index: 10; 
}

/* para google */

.google-btn {
    display: inline-flex;
    align-items: center;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.google-btn:hover {
    background-color: #357AE8;
}

.google-btn:active {
    background-color: #3367D6;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.center-container {
    text-align: center;
    margin-top: 20px; 
}


.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.tooltip-container .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #6dff9b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6dff9b transparent transparent transparent;
}


.tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar.dark-mode {
    background-color: #1f1f1f;
}

.container.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
}



body.dark-mode .list-group-item {
    background-color: #2b2b2b; 
    color: #ffffff; 
    border-color: #444444; 
}

body.dark-mode .list-group-item:hover {
    background-color: #3a3a3a; 
    color: #ffffff;
}


body.dark-mode .icon-check {
    color: #9acd32; 
}


body.dark-mode small {
    color: #ffffff; 
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f0f8ff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.day:hover {
    background-color: #e6f2ff;
}

.empty-day {
    visibility: hidden;
}


.custom-tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #6dff9b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.custom-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6dff9b transparent transparent transparent;
}

.custom-tooltip-container:hover .custom-tooltiptext {
    visibility: visible;
    opacity: 1;
}
